.heading {
  font-size: 23px;
  width: 100%;
  margin: 0px;
  box-shadow:10px 10px 10px 10px lightgreen;
}
.heading_div {
  float: none ; 
  background: black ; 
  padding: 10px; 
  border-radius: 20px; 
  color: white;
  box-shadow:10px 10px 10px 10px green;
}
.heading_div2 {
  font-size: 18px ;
}
.result_para_tag {
  box-shadow:10px 10px 10px 10px darkgreen;
  font-size: 20px;
}
.copy_right_footer {
  position: fixed;
  color: white;
  bottom: 0;
  width: 100%;
  background-color: navy;
  line-height: 3;
  text-align: center;
}
canvas {
  border:5px solid white;
  border-radius:20px;
  box-shadow:10px 10px 10px 10px purple;
  margin-top: 150px; 
}
